@use '../abstracts/variables';

.results{

    background-image: linear-gradient(variables.$slate-blue-background, variables.$royal-blue-background) !important;
    color: variables.$lavender;

    &__score_display{
        background-image: linear-gradient(variables.$slate-blue-background, variables.$royal-blue-background) !important;
    }

    &__results__content {
        font-size: 1rem;
    }

}

#results_score {
    color: white;
}