@use '../abstracts/variables';
@use '../abstracts/mixins';


.summary    {

    color: variables.$dark-blue;
    font-size: 1.25rem;
    font-weight: 600;


    &__header{

        font-size: 1rem;
    }

    &___container__content {
        color: variables.$dark-blue;
    }
}

[name=reaction] {
    color: variables.$light-red;
    background-color: variables.$light-red-background;

    p:last-child {
        // color: variables.$dark-blue;
        color: variables.$lavender;
    }
}

[name=memory] {
    color: variables.$orange-yellow;
    background-color: variables.$orange-yellow-background;

    p:last-child {
        // color: variables.$dark-blue;
        color: variables.$lavender;
    }
}

[name=verbal] {
    color: variables.$teal;
    background-color: variables.$teal-background;

    p:last-child {
        // color: variables.$dark-blue;
        color: variables.$lavender;
    }
}

[name=visual] {
    color: variables.$cobalt-blue;
    background-color: variables.$cobalt-blue-background;

    p:last-child {
        // color: variables.$dark-blue;
        color: variables.$lavender;
    }
}

#continue {
    background-color: variables.$dark-blue;
    color: white;
}