@use '../abstracts/variables';
@use '../abstracts/mixins';

#results_score {
    font-size: 36px;
    font-weight: 700;

    @include mixins.layout('desktop') {
        font-size: 8vh;
      }
};

[name=reaction] {
    color: variables.$light-red;
    background-color: variables.$light-red-background;

   > svg    {
        background: variables.$light-red;
    }
}
[name=memory] {
    color: variables.$orange-yellow;
    background-color: variables.$orange-yellow-background;

    > svg    {
        background: variables.$orange-yellow;
    }
}
[name=verbal] {
    color: variables.$teal;
    background-color: variables.$teal-background;

    > svg    {
        background: variables.$teal;
    }
}
[name=visual] {
    color: variables.$cobalt-blue;
    background-color: variables.$cobalt-blue-background;

    > svg    {
        background: variables.$cobalt-blue;
    }
}