@use '../abstracts/font';


// color variables
$light-red: hsl(0, 100%, 67%);
$light-red-background: hsla(0, 100%, 67%, 10%);
$orange-yellow: hsl(39, 100%, 56%);
$orange-yellow-background: hsl(39, 100%, 56%, 10%);
$teal: hsl(166, 100%, 37%);
$teal-background: hsla(166, 100%, 37%, 10%);
$cobalt-blue: hsl(234, 85%, 45%);
$cobalt-blue-background: hsla(234, 85%, 45%, 10%);

// gradients
$slate-blue-background: hsla(252, 100%, 67%);
$royal-blue-background: hsla(241, 81%, 54%);
$violet-blue-circle: hsla(256, 72%, 46%, 40%);
$persian-blue: hsla(241, 72%, 46%, 0);

$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$lavender: hsl(241, 100%, 89%);
$dark-blue: hsl(224, 30%, 27%);

// body copy
$font-copy-size: 18px;


