@use './font';
// breakpoints for media queries
$mobile-breakpoint: 375px;
$desktop-breakpoint: 1440px;

// color variables
$light-red: hsl(0, 100%, 67%);
$orange-yellow: hsl(39, 100%, 56%);
$teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);

// gradients
$slate-blue-background: hsl(252, 100%, 67%);
$royal-blue-background: hsl(241, 81%, 54%);
$violet-blue-circle: hsla(256, 72%, 46%, 1);
$persian-blue: hsla(241, 72%, 46%, 0);

$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$lavender: hsl(241, 100%, 89%);
$dark-blue: hsl(224, 30%, 27%);

// body copy
$font-copy-size: 18px;
$font-stack: "Hanken Grotesk", helvetica, sans-serif;


